[Unit]
Description=RTL433 to MQTT service
Requires=network.target

[Service]
ExecStart=/opt/rtl433-mqtt-shell/rtl2mqtt.sh
ExecStop=/usr/bin/killall rtl2mqtt.sh
WorkingDirectory=/opt/rtl433-mqtt
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

